@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-font: "Work Sans", serif;

    --primary-banner: #ffffff;
    --secondary-banner: #FF42A508;
    --highlight-color1: #F948B2;
    --highlight-color2: #8758F1;
    --highlighted-background-color: rgba(11, 2, 35, 0.1);
    --shadow: #000000;

    --primary-text: #0B0223;
    --secondary-text: #534C64;

    --footer-background: #0B0223;
    --footer-primary: white;
    --footer-secondary: rgba(255, 255, 255, 0.6);
}